In [37]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.base     import TransformerMixin

In [38]:
iris = load_iris()
df = pd.DataFrame(
    iris.data, 
    columns=iris.feature_names
    )

df['target'] = iris.target

# Map targets to target names
target_names = {
    0:'setosa',
    1:'versicolor', 
    2:'virginica'
}

# Escalonamento de dados

In [39]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

### Padronizacao
$$
\frac{x_i - \mu}{\sigma}
$$

* $\sigma$ : desvio padrao
* $\mu$ : média

> Deixa o desvio padrão dos dados até 1, reduz o desvio padrão , altera a escala

In [40]:
class Padronizacao(TransformerMixin):
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        return (X - np.mean(X))/np.std(X)

In [41]:
X = df[['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']]
X = Padronizacao().fit_transform(X.values)

In [42]:
df1 = df.copy()
df1[['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']] = X

In [43]:
df1.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,1.205179,-0.206281,0.148695,-1.147592,1.000000
std,0.419520,0.220821,0.894346,0.386169,0.819232
min,0.423286,-0.741954,-1.248580,-1.704543,0.000000
25%,0.828587,-0.336653,-0.944604,-1.603218,0.000000
50%,1.183225,-0.235328,0.448617,-1.096592,1.000000
75%,1.487200,-0.083340,0.828587,-0.843279,2.000000
max,2.247139,0.473949,1.740513,-0.488641,2.000000

### Normalização
$$
\frac{X - X_{min}}{X_{max}-X_{min}}
$$
> Deixa os dados entre 0 e 1

In [44]:
class Normalizacao(TransformerMixin):
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        return  (X - np.min(X))/(np.max(X) - np.min(X))

In [45]:
X = df[['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']]
X = Normalizacao().fit_transform(X.values)

In [46]:
df2 = df.copy()
df2[['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']] = X

In [47]:
df2.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,0.736325,0.379145,0.468974,0.140940,1.000000
std,0.106162,0.055880,0.226320,0.097723,0.819232
min,0.538462,0.243590,0.115385,0.000000,0.000000
25%,0.641026,0.346154,0.192308,0.025641,0.000000
50%,0.730769,0.371795,0.544872,0.153846,1.000000
75%,0.807692,0.410256,0.641026,0.217949,2.000000
max,1.000000,0.551282,0.871795,0.307692,2.000000